

<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Main</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- remove this for good font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- remove this for good font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel = 'stylesheet' href ="{% static "css/user_profile.css" %}"/> 
    <link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

    <script>
          ('.toast').toast('show');
    </script>
  </head>
  <body style='background-image: linear-gradient(white 10%, #ffffff , #ffffff   ) ; '>
      {% block foo %}
      {% include "app2/main_index.html" %}
     {% endblock %}

     <div class="container">
        <div class="jumbotron">
        {% if can %}
            <h1>Account Deleted SuccesFully</h1>
        {% elif can is False %}
            <h1>You Have some unsettled Transaction Remaining , Settle them to Delete Account</h1>
        {% else %}
          <h1>Are You Sure , You Want Delete Account !</h1>
          {% if user.is_authenticated %}
              <form method='POST'>
                    {%csrf_token%}
                  <input type="submit" name="" value="Yes , Delete My Account">
              </form>
          {% else %}
              <h2>Register or Login if you'd like to</h2>
          {% endif %}
        {% endif %}
        </div>
      </div>

          </div>
        </div>
        

        
      
  </body>
</html>





