

<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Main</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- remove this for good font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- remove this for good font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel = 'stylesheet' href ="{% static "css/index.css" %}"/> 

  </head>
  <body style='background-image: url({% static 'background.jpg' %});' >
      {% block foo %}
      {% include "app2/main_index.html" %}
     {% endblock %}


     <div class='row'>


        {% if messages %}
        <!-- flip cart  -->
        <div class='col-md-4'>
           <div class="flip-card">
               <div class="flip-card-inner">
                 <div class="flip-card-front">
       
                     <ul class="messages">
                         {% for message in messages %}
                         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><p class='main_heading' >{{ message }}</p></li>
                         {% endfor %}

                     </div>
                      </ul>

                     <div class="flip-card-back">
                       <p  class='main_heading'>Use the New Password</p> 
                 </div>
               </div>
             </div>
           </div>
           <!-- flip cart  -->
       {% endif %}


      
    <!-- flip cart  -->

    <div class='col-md-4'>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front" style='background-color:  #b7ffb7;'>

            {% if user.is_authenticated %}
                <p class='main_heading' style='font-size:25px; '>Hello {{ user.username }}</p>
              </div>
              
              <div class="flip-card-back"  style='background-color:  #ffdcc2;'>
                <p  class='main_heading'>Let's check your Transaction shall we?</p> 
            {% else %}
                <p  class='main_heading'>Register or Login if you would like to</p>
                </div>
                
                <div class="flip-card-back" style='background-color:  #ffdcc2;'>
                  <p  class='main_heading'> There is nothing at the back , Register now!</p> 
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- flip cart  -->

     <!-- flip cart  -->
     <div class='col-md-4'>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
    
                    <p class='main_heading' >Now Manage Your Finances like never before</p>
                  </div>
                  
                  <div class="flip-card-back">
                    <p  class='main_heading'>We Bring to You THE FIMA</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- flip cart  -->
       
            <!-- flip cart  -->
     <div class='col-md-4'>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front"  style='background-color:  #b7ffb7;'>
    
                    <p class='main_heading' >Make new Friends and manage Transaction with them </p>
                  </div>
                  
                  <div class="flip-card-back" style='background-color:  #ffdcc2;'>
                    <p  class='main_heading'>Use their email to connect</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- flip cart  -->
        
    <!-- flip cart  -->
     <div class='col-md-4'>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
    
                    <p class='main_heading' >Problem of Forgetting Whom you lent and How much</p>
                  </div>
                  
                  <div class="flip-card-back">
                    <p  class='main_heading'>No Worries FIMA will solve it</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- flip cart  -->

      <!-- flip cart  -->
     <div class='col-md-4'>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style='background-color:  #b7ffb7;'>
    
                    <p class='main_heading' >Connect with your friends and add how much amount they have borrowed.</p>
                  </div>
                  
                  <div class="flip-card-back" style='background-color:  #ffdcc2;'>
                    <p  class='main_heading'>Even if they clear out the Transaction , You get the notification</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- flip cart  -->

      <!-- flip cart  -->
     <div class='col-md-4'>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
    
                    <p class='main_heading' >Get History of all your Transactions Ever</p>
                  </div>
                  
                  <div class="flip-card-back">
                    <p  class='main_heading'>With highlighted color to show amount borrowed or lent</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- flip cart  -->

      <!-- flip cart  -->
     <div class='col-md-4'>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style='background-color:  #b7ffb7;'>
    
                    <p class='main_heading' >Made as a part of DBMS project in course CO301</p>
                  </div>
                  
                  <div class="flip-card-back" style='background-color:  #ffdcc2;'>
                    <p  class='main_heading'>By<br>Prateek Sahu : 17CO130<br>Kumar Saharsh:17CO121</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- flip cart  -->
       
            
  </div>


  <h1 style='visibility: hidden;'>this is just to add </h1>
         



        
      <!-- footer  -->
      <div class="footer" style='  position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-image: linear-gradient( rgb(145, 155, 197) , rgb(255, 255, 255));
      text-align: center;
      font-weight: bold;
      color: black;'>Made by by <strong>Prateek & Saharsh. @All Rights Reserved.</strong>.</div>
      <!-- footer  -->
      
  </body>
</html>





