<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Login</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- remove this for good font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- remove this for good font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel = 'stylesheet' href ="{% static "css/user_profile.css" %}"/> 
    <link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

    <script>
          ('.toast').toast('show');
    </script>
  </head>
  <body style='background-image: linear-gradient(white 10%, #ffffff , #ffffff   ) ; '>
      {% block foo %}
      {% include "app2/main_index.html" %}
     {% endblock %}

     <div class="container">
        <div class="jumbotron">
          <h1>Login here :</h1>
    <form method="post" action="{% url 'app1:login' %}">
              {% csrf_token %}
              <!-- {# A more "HTML" way of creating the login form#} -->
              <label for="username">Username:</label>
              <input type="text" name="username" placeholder="Username">
    <label for="password">Password:</label>
              <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
    </form>
    </div>
      </div>
        

        
      
  </body>
</html>








