<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Login</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- remove this for good font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- remove this for good font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel = 'stylesheet' href ="{% static "css/user_profile.css" %}"/> 
    <link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

    <script>
          ('.toast').toast('show');
    </script>
  </head>
  <body style='background-image: linear-gradient(white 10%, #ffffff , #ffffff   ) ; '>
      {% block foo %}
      {% include "app2/main_index.html" %}
     {% endblock %}
     <div class="container">
        <div class="jumbotron">
          <h1>Update Your Profile  Here :</h1>
    <form method="post">
              {% csrf_token %}
              {{form.as_p}}  
              <input type="submit" name="submit" value="Update Profile">        
    </form>
    
    {% if is_update is True %}
      <h3>Your Profile has been Updated Succesfully</h3>
    {% elif is_update is False %}
      <h3>Confirm Password Does Not Match</h3>
    {% elif is_clicked %}
      <h3>You have Entered InCorrect Password</h3>
    {% endif %}
    </div>  
      </div>
  </body>
</html>








