<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Notifications</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- remove this for good font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- remove this for good font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel = 'stylesheet' href ="{% static "css/user_profile.css" %}"/> 
    <link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
          ('.toast').toast('show');
    </script>
  </head>
  <body style='background-image: linear-gradient(white 10%, #ffffff , #ffffff   ) ; '>
      {% block foo %}
      {% include "app2/main_index.html" %}
     {% endblock %}

     

            
            {% if user %}                       
              
        <div class='row' style='height:100px;'>

            <div class='col-sm-6'>
              <div class="w3-card-4" style='width:500px; margin-left: 100px; margin-bottom: 100px;' >
                  <img style='width:100%' src="{{user_info.profile_pic.url}}" alt="ProfilePic">
  
              </div>
            </div>
  
  
            <div class='col-sm-6'>
              <div class="w3-card-4" style='width:60%; margin-left: 100px; margin-bottom: 10px; height:300%;' >
                  <header class="w3-container w3-blue">
                    <h1>{{ user_info.name }}</h1>
                  </header>
              
                  <div class="w3-container">
                      <p  class="some_text" style='font-size:30px;' >{{ user.email }}</p>
                      <p class="some_text" style='font-size:40px;'> {{ user_info.dob }}</p>                
                    </div>
              
                  <footer class="w3-container w3-blue">
                    <h5>{{user_info.gender}}</h5>
                    
                  </footer>
                </div>
  
                <form action="{% url 'app1:profile' %}">
                    <input  href='' class="pricingTable-firstTable_table__getstart" type="submit" value="Edit profile" 
                    style='font-weight:bold; font-size:20px; background-color: rgb(98, 245, 40); color:black; margin-bottom: 20px; width: 50%;font-family:  Advent Pro; margin-left: 100px;'
                    '>
  
                </form>
                
                <form action="{% url 'app1:delete' %}">
                    <input  href='' class="pricingTable-firstTable_table__getstart" type="submit" value="Delete Account" 
                     style='font-weight:bold; font-size:20px; background-color: rgb(245, 115, 40); color:black; margin-bottom: 50px; width: 50%;font-family:  Advent Pro; margin-left: 100px;'>
  
                </form>
  
  
              </div>
  
          </div>

            {% endif %}


        
      
  </body>
</html>





