<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Main</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- remove this for good font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- remove this for good font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel = 'stylesheet' href ="{% static "css/user_profile.css" %}"/> 
    <link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

    <script>
          ('.toast').toast('show');
    </script>
  </head>
  <body style='background-image: linear-gradient(white 10%, #ffffff , #ffffff   ) ; '>
      {% block foo %}
      {% include "app2/main_index.html" %}
     {% endblock %}
	 <div class="container">
			<div class="jumbotron">
				<form action="{% url 'app1:transaction' %}" , method='POST'>
		  
					{% csrf_token %}
					{{form.as_p}}
					<input type="submit" name="" value="Add Transaction">
				</form>
				{% if to_friend %}
					<h2>Transaction Successfull</h2>
				{% elif to_user %}
					<h2>This User Is not your friend , first add him in friend page</h2>
				{% elif is_click %}
					<h2>This user does not exist</h2>
				{% endif %}
			</div>
		  </div>
  </body>
</html>





