<!DOCTYPE html>
{% load staticfiles %}
{% load my_extra %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TRANSACTIONS</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

</head>
<body>

  <!-- navbar -->
  {% block foo %}
  {% include "app2/main_index.html" %}
 {% endblock %}
    <!-- navbar end -->


    <div class = "djangotwo"> 
            {% if trans_record %}
            <table>
                <thead>
                    <th>amount : </th>
                    <th>date : </th>
                    <th>desc : </th>
                </thead>
                {%  for t in trans_record %}
                        <tr>
                    {% if  t|check_for_this_user_transaction:combined_email %}    
                        {% if t|find_trans:curr_user %}
                                <td style='color:rgb(255, 115, 0)'>{{t.amount}}</td>
                        {% else %}
                            <tr>
                                <td style = 'color:rgb(0, 255, 7)'>{{t.amount}}</td>
                        {%endif%}

                                <td>{{t.tdate }}</td>
                                <td>{{t.desc}}</td>
                            </tr>
                    {%endif%}
                {% endfor %}
            </table>
            {%else%}
                <p>No transaction records found</p>
            {%endif%}
        
         </div>

          {% if required_email %}     
            <!-- test -->
            <div>
                <form action="{% url 'app2:settle_trans' %}" method ="POST">
                    {%csrf_token%}
                    <input type ="hidden" name = "friend_id" value="{{required_email}}" />
                    <button  class="pricingTable-firstTable_table__getstart"  type="submit" >SETTLE UP</button>
                </form>
            </div>  
            <!-- testend -->
          {% else %}
            <div>
              <h1>NO TRANSACTION TO SHOW</h1>
            </div>
          {%endif%}
            

</body>
</html>