<!DOCTYPE html>
{% load staticfiles %}
{% load my_extra %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TRANSACTIONS</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

</head>
<body>


    {% block foo %}
     {% include "app2/main_index.html" %}
    {% endblock %}

    <div class = "djangotwo"> 
            {% if his_record %}
            <table>
                <thead>
                    <th>To : </th>
                    <th>amount : </th>
                    <th>date : </th>
                    <th>desc : </th>
                </thead>
                {%  for t in his_record %}
                        <tr>
                             

                    {% if  t|check_for_history_of_transaction:curr_user %}    
                                <td>{{ t.user_id2 }}</td>
                        {% if t|find_trans:curr_user %}
                                <td style='color:rgb(255, 115, 0)'>{{t.Amount}}</td>
                        {% else %}
                                <td style = 'color:rgb(0, 255, 7)'>{{t.Amount}}</td>
                        {%endif%}

                                <td>{{t.date }}</td>
                                <td>{{t.Desc}}</td>
                            </tr>
                    {%endif%}
                {% endfor %}
            </table>
            {%else%}
                <p>No transaction records found</p>
            {%endif%}
        
         </div>

</body>
</html>