<!DOCTYPE html>
{% load staticfiles %}
{% load my_extra %}

<html lang="en" >
<head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <meta charset="UTF-8">
  <title>transaction History</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel = 'stylesheet' href ="{% static "css/general.css  " %}"/>  -->
<link rel = 'stylesheet' href ="{% static "css/tables.css" %}"/> 

</head>
<body>


    {% block foo %}
     {% include "app2/main_index.html" %}
    {% endblock %}
    <div class='shift_it' style='  margin:50px;
    margin-left: 100px;
    font-size: 40px;'>All settled transactions are here</div>

            {% if his_record|check_object_size:curr_user %}
            <table style=' margin-bottom:100px; margin-left: 100px; width: 80%; font-weight: bold;  table-layout: fixed;
            '>
                <thead >
                    <th style='color: rgb(47, 53, 65); font-size: 40px; width: 400px;    '>Friend</th>
                    <th style='color: rgb(47, 53, 65); font-size: 40px;' >Amount</th>
                    <th style='color: rgb(47, 53, 65); font-size: 40px;' >Status</th>
                    <th style='color: rgb(47, 53, 65); font-size: 40px;' >Date</th>
                    <th style='color: rgb(47, 53, 65); font-size: 40px; width: 200px;  '>Desc</th>
                </thead>
                {%  for t in his_record %}
                        <tr>
                             

                    {% if  t|check_for_history_of_transaction:curr_user %}    
                                <td style='color: rgb(133, 127, 187); font-size: 30px;'>{{ t|return_the_friend:curr_user }}</td>
                        {% if t|find_trans:curr_user %}
                                <td style='color:rgb(255, 115, 0); font-size: 30px; '>{{t.Amount}}</td>
                                <td style='color:rgb(255, 115, 0); font-size: 30px;'>Borrowed</td>

                        {% else %}
                                <td style = 'color:rgb(0, 255, 7); font-size: 30px;'>{{t.Amount}}</td>
                                <td style = 'color:rgb(0, 255, 7); font-size: 30px;'>Lent</td>

                        {%endif%}

                                <td style='color: rgb(133, 127, 187); font-size: 20px;'> {{t.date }}</td>
                                <td style='color: rgb(133, 127, 187); font-size: 20px;' > {{t.Desc}}</td>
                            </tr>
                    {%endif%}
                    
                {% endfor %}
            </table>
            {%else%}
                <p style='font-size:50px; margin-left:90px; color:rgb(195, 78, 78)'>No transaction records found</p>
            {%endif%}
        

         


         

</body>
</html>