<!DOCTYPE html>

{% load staticfiles %}
{% load my_extra %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- remove this for good font -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- remove this for good font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel = 'stylesheet' href ="{% static "css/home_css.css" %}"/> 

</head>
<body>

  <!-- test -->

  <!-- testend -->

  {% block foo %}
  {% include "app2/main_index.html" %}
 {% endblock %}

<!-- partial:index.partial.html -->
 
  <!-- dashboard -->

  <!-- dashboard -->

<div class="pricingTable">
  <h2 class="pricingTable-title">FINANCIAL MANAGEMENT</h2>
  <h3 class="pricingTable-subtitle">Your Finances</h3>
  
  {% if amount|checksize %}

  <ul class="pricingTable-firstTable">
        {%  for email in amount %}
        <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">{{ names|value_of_key:email}}</h1>
            {% if amount|check_pos:email %}
            <p class="pricingTable-firstTable_table__pricing"><span style='color: rgb(0, 255, 0)'>₹</span><span style='color:rgb(0, 255, 0)'>{{ amount|return_pos:email}}</span><span>Month</span></p>

            {% else %}
            <p class="pricingTable-firstTable_table__pricing"><span style='color: rgb(255, 115, 0)'>₹</span><span style='color:rgb(255, 115, 0)'>{{ amount|return_pos:email}}</span><span>Month</span></p>
            {%endif%}

            <ul class="pricingTable-firstTable_table__options">
              <li>{{email}}</li>

            </ul>
            <!-- <div class="pricingTable-firstTable_table__getstart">View All Transactions</div> -->
            
            <!-- test -->
            <div>
            <form action="{% url 'app2:all_trans' %}" method ="POST">
                {%csrf_token%}
                <input type ="hidden" name = "friend_id" value="{{email}}" />
                <button  class="pricingTable-firstTable_table__getstart"  type="submit" >VIEW TRANSACTIONS</button>
            </form>
            </div>  
            <!-- testend -->

          </li>
        {% endfor %}
        
    </ul>
  </div>

  {%else%}
  <p>No TRANSACTIONS records found</p>  
  {%endif%}
   




</body>
</html>